table.table.table-striped.table-bordered.table-hover {
    /* padding-top: 20px; */
    /* margin: 20px; */
    margin-top: 80px;
    width: 60%;
    //margin-left: 280px;
    margin: 0 auto;
}

footer.bg-light.text-center.text-lg-left {
    margin-top: 120px;
}

.form-control {
    width: 20% ;
    margin: 0 auto;
}

button.btn.btn-secondary {
    margin: 20px;
}