input#formBasicEmail {
    margin: 0 auto;
    width: 20%;
}

button.btn.btn-primary {
    margin-left: 910px;
}

label.form-label {
    margin-left: 840px;
    margin-bottom: 20px;
}

footer.bg-light.text-center.text-lg-left {
    margin-top: 120px;
}